@model HomeModel

@{

    ViewData["Title"] = "Home Page";
}



<h2>
    Welcome to  @Model.CompanyName
</h2>
<p>Click the button to get an overview of all vehicles.</p>
<button><a asp-area="" asp-controller="Home" asp-action="Workshop">Workshop</a></button>
    
<hr/>
<h4>Gå til <a asp-action="Index" asp-controller="Settings" asp-route-companyId="@Model.CompanyId">Innstillinger</a></h4>


